<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details - <%= car.model %></title> 

</head>
<body>
    <div class="car_container">
        <h1><%= car.model %></h1>  
        <h2><%= car.brand %></h2>  
        <p>Year: <%= car.year %></p>     
        
        <label for="km">KM Driven:</label>
        <p id="km" ><%= car.km_driven %></p>

        <label for="color">Color:</label>
        <p id="color"><%= car.color %></p>  

        <label for="swt">Switchable:</label>
        <p id="swt"><%= car.switch === 1 ? 'Yes' : 'No' %></p> 

        <button><%= car.price %></button>
        <button>Schedule a Visit</button>
        <button>WhatsApp Chat</button>
    </div>
</body>
</html>
<script></script>
